.gap {
    height: 120px;
}

.back {
    margin-top: 10px;
    margin-left: 10px;
    width: fit-content;
    display: inline-block;
}

.back:hover {
    text-decoration: underline;
}

.loader {
    margin: auto;
    border: 20px solid #eaf0f6;
    border-radius: 50%;
    border-top: 20px solid #ff7a59;
    width: 200px;
    aspect-ratio: 1/1;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.card {
    width: 65vw;
    height: 65vh;
    margin: 0 auto;
    border-radius: 40px;
    background-color: var(--secondary);
}



.card>div {
    /* outline: 1px solid red; */
    display: flex;
}

.card_img {
    border-radius: 0 40px 40px 0;
    /* max-height: 50vh; */
    height: 65vh;
}

.info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.info h1,
.info h3 {
    text-align: center;
    align-self: center;
    margin-top: 7.5%;
    margin-bottom: 5%;
}

.info>span {
    display: flex;
    margin: 0 auto;
}

.recentRanked {
    display: flex;
    width: fit-content;
    margin: auto;
    gap: 30px;
}

.loss, .win {
    width: 7vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    background-color: white
}

.loss {
    /* color: red; */
    border-color: red;
    background-color: red;
}

.win {
    /* color: green; */
    border-color: green;
    background-color: green;
}